/* Table of Contents for Stylesheets:
- Root, All Elements, Body, Img
- Fonts
- Header: Utility and Search Bar
- Nav: Primary Navigation
- Main .....
 */

/* Root & All Elements & Body & Img */
/* colour variables */
:root {
    --mainBackground: #ffffff; /* #cc0000 test colour */
    --mainFontColor: #000000;
    --mainLogoBlue: #185D8B;
    --mainLightText: #DEF0F1;
    --mainLightBgColour: #CCD8E3;
    --covidZoneColour: #CECECE;
    --submitGrey:#AEAEAE;
    --darkFooter: #222527;
}

* {
    box-sizing: border-box;
    font-family: Open Sans, Lato, Roboto, sans-serif; 
    background-color: var(--mainBackgroud);
    font-size: 1.063rem; /* 17px */
    color: var(--mainFontColor);  
    /* color: #cc0000; testing colour */
    padding: 0;
    margin: 0;
}

/* Body */
body {
    width: 100%;
    display: flex;
    flex-flow:column;
    align-items: center;
    /* background-color: coral; for testing */
    /* outline: solid 1px blue; for testing */
    padding-top: 40px;
}

img{
    /* prevents images from stretching */
    max-width: 100%;
    max-height: 100%;
}

/* Fonts */
h1 {
  font-size: 1.875rem; /* 30px */
    font-weight: bold;
    /* color:aquamarine; */
}
h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: 600; /* semibold */
}
h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600; /* semibold */
}
h4 {
    font-size: 1.25rem; /* 20px */
    font-weight: 600; /* semibold */
}
/* .bodyRegular {
    set above under * All Elements  
    font-size: 1.063rem;  [17px] 
    color: var(--mainFontColor); 
}*/

.bodyBold{
    font-size: 1.063rem; /* 17px */
    font-weight: bold;
}
.primaryNav {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
    padding: 2rem 0 2rem 0;
    max-width: 1240px;
}

.primaryNavOn {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: var(--mainLogoBlue);
}

/* Regular Body Links */
/* unvisited link */
a:link {
    color: var(--mainLogoBlue);
    text-decoration: underline;
  }
  
  /* visited link */
  a:visited {
    color: var(--mainLogoBlue);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: var(--mainFontColor);
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: var(--mainLogoBlue);
    text-decoration: underline;
  }

  /* Help Card Links: bold body font, white */
/* unvisited link */
a.help:link {
    color: var(--mainBackground);
    text-decoration: none;
    font-weight: 400;
  }
  
  /* visited link */
  a.help:visited {
    color: var(--mainBackground);
    text-decoration: none;
    font-weight: 400;
  }
  
  /* mouse over link */
  a.help:hover {
    color: var(--mainBackground);
    font-weight: 400;
    text-decoration: underline;
  }
  
  /* selected link */
  a.help:active {
    color: var(--mainBackground);
    font-weight: 400;
    text-decoration: underline;
  }


/* Quick Links Card Links: regular body font-size, color = white */
/* unvisited link */
a.quick:link {
    color: var(--mainBackground);
    text-decoration: none;
  }
  
  /* visited link */
  a.quick:visited {
    color: var(--mainBackground);
    text-decoration: none;
  }
  
  /* mouse over link */
  a.quick:hover {
    color: var(--mainBackground);
    text-decoration: underline;
  }
  
  /* selected link */
  a.quick:active {
    color: var(--mainBackground);
    text-decoration: underline;
  }


/* Footer Links: regular body font-size, color = white */
/* Blue/Top Footer links - no decoration until hover */
/* unvisited link */
a.footer:link {
    color: var(--mainLightText);
    text-decoration: none;
  }
  
  /* visited link */
  a.footer:visited {
    color: var(--mainLightText);
    text-decoration: none;
  }
  
  /* mouse over link */
  a.footer:hover {
    color: var(--mainLightText);
    text-decoration: underline;
  }
  
  /* selected link */
  a.footer:active {
    color: var(--mainLightText);
    text-decoration: underline;
  }

/* Black/Bottom Footer links - decoration */
/* unvisited link */
a.footer2:link {
    color: var(--mainLightText);
    text-decoration: underline;
    padding: 1rem;
    line-height: 2rem;
  }
  
  /* visited link */
  a.footer2:visited {
    color: var(--mainLightText);
    text-decoration: none;
  }
  
  /* mouse over link */
  a.footer2:hover {
    color: var(--mainLightText);
    text-decoration: underline;
  }
  
  /* selected link */
  a.footer2:active {
    color: var(--mainLightText);
    text-decoration: underline;
  }

/* Header: Utility and Search Bar*/
header {
    width: 90%;
    max-width: 1240px;
}
.logoUtilityBarContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: burlywood;  test colour */
}
.utilityNavSection {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: right;
    /* background-color: blueviolet;  test colour */
}

.search {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: right;
    /* background-color: orange;  test colour */
}

/* Utility Links */
a.utilityNav:link {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: none;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}

a.utilityNav:hover {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: underline;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}

a.utilityNav:visited {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: none;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}
a.utilityNav:active {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: none;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}

.spacer1 {
    padding: 1rem 1rem 1rem 1rem;
}

  input[type=text] {
    background-color:var(--mainBackground);
    background-image: url('../images/magnifyingGlassv3.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

 /* Primary Navigation */

.bannerBarContainer {
    width: 100%;
    height: 232px;
    max-width: ;
    background-image: url("../images/homepage_banner_background.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkgreen; test colour */
}

.welcomeBanner {
    color: var(--mainBackground);
}

.statusBarContainer {
    width: 100%;
    max-width: 1440px;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    justify-items: center;
    background-color: var(--submitGrey);
    margin: 0rem 0rem 0rem 0rem;
    /* background-color: goldenrod; test colour */
}

.covidZoneColours {
    padding:0;
    margin: auto auto;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* Main Body */
main {
    width: 90%;
    max-width: 1240px;
    display: flex;
    flex-flow:column;
    align-items: center;
    /* background-color: pink; for testing */
    /* outline: solid 1px blue;  for testing */
}

.mainSpacer {
    width: 100%;
    height: 6rem;
    /* background-color: tan;  for testing */
}

.containerSpacer {
    padding: 1rem 1rem 1rem 1rem;
}

/* Section: COVID-19 Stats */
.statsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 1240px;
  }
  
  .statsContainersHeader {
    height: 50px;
    line-height: 50px;
  }
  
  .body-statsContainer {
    display: flex;
    flex: 1;
  }
  
  .statsColumn1 {
    width: 50%;
    font-size: .8rem;
    color: var(--submitGrey);
    padding: 0 2rem 0 0;
  }
  
  .statsColumn2 {
    width: 50%;
  }

  /* Section: How Can We Help You? */
  .helpContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .helpContainersHeader {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  
  .body-helpContainer {
    display: flex;
    width: 100%;
    flex: 1;
  }
  
  .helpColumn1 {
    width: 25%;
  }
  
  .helpColumn2 {
    width: 25%;
  }

  .helpColumn3 {
    width: 25%;
  }
  
  .helpColumn4 {
    width: 25%;
  }

  /* Help Cards [Bootstrap]*/
  .card-body-help {
    background-color: var(--mainLogoBlue);
  }
  .card-text-help {
    padding: .3rem .3rem .3rem .3rem;
    text-align: center;
    background-color: var(--mainLogoBlue);
    color: var(--mainLightText);
  }

/* Quick Links */
.quickContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .quickContainersHeader {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  
  .body-quickContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    /* background-color: crimson; test colour */
  }
  
.quick {
    padding: .3rem .3rem .3rem .3rem;
    text-align: center;
    background-color: var(--mainLogoBlue);
    color: var(--mainLightText);
}

.card-header-quick {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    background-color: var(--mainLogoBlue);
    color: var(--mainLightText);
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    border-radius: 0.25em;
    border: solid 1px var(--mainLightText);
}

.quickLinksTextBox {
    padding: .5rem .5rem .5rem .5rem;
    text-align: center;
    background-color: var(--mainLogoBlue);
    color: var(--mainLightText);
    width: auto; /* Making auto-sizable width */
    height: auto; /* Making auto-sizable height */
    border-radius: 0.25em;
    border: solid 1px var(--mainLightText);
}

/* Toronto COVID-19 Briefings */
.briefingContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* border: 1px solid #cc0000; */
  }
  
  .briefingContainersHeader {
    width: 100%;
    height: 50px;
    line-height: 30px;
  }
  
  .body-briefingContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    /* border: 1px solid blue; */
    /* background-color: aquamarine; test colour */
  }

  /* Briefing Card */
.card-header-briefing {
    padding: .3rem .3rem .3rem .3rem;
    text-align: center;
    background-color: var(--mainLogoBlue);
    color: var(--mainLightText);
    width: 100%;
    min-width: 40rem;
    min-height: 4rem;
    border-radius: 0.25em;
    border: solid 1px var(--mainLightText);
}

.briefingTextBox {
    padding: .3rem .3rem .3rem .3rem;
    min-width: 30rem;
    background-color: var(--mainLightBgColour);
    color: var(--mainFontColor);
    width: auto; /* Making auto-sizable width */
    min-height: 3rem;
    border-radius: 0.25em;
    border: solid 1px var(--mainLightText);
}

.briefingImg {
    width: 850px;
  }


/* Stop the Spread */
.stopSpreadContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    /* background-color: aquamarine; test colour */
}

.stopSpreadContainersHeader {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.stopSpreadBody {
    display:flex;
    justify-content: center;
    align-items:
}

/* Alert App */
.alertContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .alertContainersHeader {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  
  .body-alertContainer {
    display: flex;
    width: 100%;
    background-color: var(--mainLightBgColour);
    padding: 3rem 3rem 3rem 3rem;
  }
  
.topFooterContainer {
    width: 100%;
    min-width: 1440px;
    height: 15rem;
    background-color: var(--mainLogoBlue);
    color: var(--mainLightText);
    padding: 3rem 3rem 3rem 3rem;
    /* background-color: purple; test colour */
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.lightFooter {
    color: var(--mainLightText);
}

.bottomFooterContainer {
    width: 100%;
    /* background-color: khaki; test colour */
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--darkFooter);
}

.footer2Body {
    color: var(--mainLightText);
}

h3.footer {
    color: var(--mainLightText);
    line-height: 2rem;
}

/* for Newsletter Sign-up */
.containerNewsletter {
    padding: 20px;
  }
  
  input.Newsletter[type=text], input.Newsletter[type=submit] {
    width: 15rem;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--mainLogoBlue);
    box-sizing: border-box;
    background-image: none;
  }
  
  input.Newsletter[type=submit] {
    background-color:var(--mainBackground);
    color: var(--mainLogoBlue);
    border: 1px;
    border-color: var(--mainLogoBlue);
    width: 6rem;
  }
  
  input.Newsletter[type=submit]:hover {
    /* opacity: 0.8; */
    background-color:var(--mainLightBgColour); 
    /* background-color: #cc0000; test colour */
  }
