
/* colour variables */
:root {
    --mainBackground: #ffffff; /* #cc0000 test colour */
    --mainFontColor: #000000;
    --mainLogoBlue: #185D8B;
    --mainLightText: #DEF0F1;
    --mainLightBgColour: #CCD8E3;
}

* {
    /*box-sizing: border-box;*/
    font-family: Open Sans, Lato, Roboto, sans-serif; 
    background-color: var(--mainBackgroud);
    font-size: 1.063rem; /* 17px */
    color: var(--mainFontColor); 
}

/* Fonts */
h1 {
    font-size: 2.5rem; /* 40px */
    font-weight: bold;
}
h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: 600; /* semibold */
}
h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600; /* semibold */
}
h4 {
    font-size: 1.25rem; /* 20px */
    font-weight: 600; /* semibold */
}
.bodyBold{
    font-size: 1.063rem; /* 17px */
    font-weight: bold;
}
.primaryNav {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
}
.primaryNavHover {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
}
.primaryNavOn {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
}

a.utilityNav:link {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: none;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}

a.utilityNav:hover {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: underline;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}

a.utilityNav:visited {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: none;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}
a.utilityNav:active {
    font-family: Lato, sans-serif; 
    font-size: 1.125rem; /* 18px */
    font-weight: 600; /* semibold */
    text-decoration: none;
    padding: 0px 2rem 0px 2rem;
    color: var(--mainFontColor); 
    /* color: #cc0000; test colour */
}

.spacer1 {
    padding: 1rem 1rem 1rem 1rem;
}

.search {
    background: url(../images/magnifyingGlass.png) no-repeat 100%; 
    /* background-color: blueviolet; test colour */
    background-size: 1.125rem;

}

main {
    width: 100%;
    display: flex;
    flex-flow:column;
    align-items: center;
    background-color: pink; /* for testing */
    outline: solid 1px blue; /* for testing */
    padding-top: 40px;
}

.logoUtilityBarContainer {
    width: 90%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood; /* test colour */
}

.utilityNavSection {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: right;
    background-color: blueviolet;  /* test colour */
}

.primaryNavBarContainer {
    width: 100%;
    background-color: chartreuse; /* test colour */
    width: 90%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.bannerBarContainer {
    width: 100%;
    background-color: darkgreen; /* test colour */
}

.statusBarContainer {
    width: 100%;
    background-color: goldenrod; /* test colour */
}

.mainGrid {
    outline: solid 1px tomato; /* for testing */
    background-color: yellow; /* for testing */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(12, 1);
    gap: 20px;
    /* grid-area: TBD; */
}

.mainGrid img{
    max-width: 100%;
}

.topFooterContainer {
    width: 100%;
    background-color: purple; /* test colour */
    display: flex;
    flex-flow: column;
    align-items: center;
}

.bottomFooterContainer {
    width: 100%;
    background-color: khaki; /* test colour */
    display: flex;
    flex-flow: column;
    align-items: center;
}