


<div class="helpCard">
<img src="images/CTACard_Tested.png" alt="Can I Get Tested?" style="width:100%">
<div class="helpCardContainer">Can I Get Tested?</div>



  .helpCardContainer {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--mainLogoBlue);
    color: var(--mainLightText);
  }





<div class="mainContainer">
<div class="mainContainersHeader"><H1>Headline Here</H1></div>
<div class="body-mainContainer">
  <div class="column1">column 1</div>
  <div class="column2">column 2</div>
</div>
</div>

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .mainContainersHeader {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
  
  .body-mainContainer {
    display: flex;
    width: 100%;
    flex: 1;
  }
  
  .column1 {
    width: 50%;
  }
  
  .column2 {
    width: 50%;
  }






  
  .search-container button:hover {
    background: #ccc;
  }


  .mainGrid {
    outline: solid 1px tomato; /* for testing */
    background-color: yellow; /* for testing */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(12, 1);
    gap: 20px;
    /* grid-area: TBD; */
}


/* default style for entire page */
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: #cc0000;  test colour */
    background-color: var(--mainBackgroud);
    font-size: 18px;
}


/****** START HOME GRID ******/
main {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "contentBannerA contentBannerA"
        "contentBannerB contentBannerB"
        "introText introText"
        "footer footer";
    /* background-color: #CC0000; test colour for troubleshooting */
}


header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    padding: 20px;
    /* same padding as .header and primaryNavHeader */
}

.logo {
    padding: 20px; 
    /* same padding as .header and primaryNavHeader */
}

.primaryNavHeader {
    background-color :#ffffff;
    text-align: right;
    padding: 20px;
    flex-flow: row wrap;
    /* same padding as .header and primaryNavHeader */
}

.contentBannerA {
    grid-area: contentBannerA;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
}

.contentBannerB {
    grid-area: contentBannerB;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
}

/* Banners Grid Area  */
.contentBanner1 {
    background-color: var(--portfolio1Bg);
    display: flex;
    flex-wrap: row;
    flex-direction: nowrap;
    align-items:flex-start;
    justify-content: space-between;
    height: 1fr;
    padding: 20px;
}

.contentBanner2 {
    background-color: var(--portfolio2Bg);
    display: flex;
    flex-wrap: row;
    flex-direction: nowrap;
    align-items:flex-start;
    justify-content: space-between;
    height: 1fr;
    padding: 20px;
}
.contentBanner3 {
    background-color: var(--portfolio3Bg);
    display: flex;
    flex-wrap: row;
    flex-direction: nowrap;
    align-items:flex-start;
    justify-content: space-between;
    height: 1fr;
    padding: 20px;
}
.contentBanner4 {
    background-color: var(--portfolio4Bg);
    display: flex;
    flex-wrap: row;
    flex-direction: nowrap;
    align-items:flex-start;
    justify-content: space-between;
    height: 1fr;
    padding: 20px;
}


/* Intro Text Grid Areas */
.introText {
    grid-area: introText;
    color: var(--mainFontColor);
    background-color: var(--mainBackgroud);
    align-items: flex-start;
    justify-content: flex-start;
}

/* Footer Grid Areas  */
/* .copyright {
    background-color: var(--mainBackgroud);
    padding: 15px;
} */

footer {
    display: flex;
    background-color: var(--mainBackground);
    font-size: 14px;
    padding: 15px;
    justify-content: space-between;
    flex-flow: row nowrap;
}
/* 
.footerLinks {
    background-color: var(--mainBackground);
    justify-self: end;
    padding: 15px;
} */
/* END HOME GRID */


/****** START SECONDARY PAGES GRID ******/
main.secondary {
    /* background-color: yellow; TEST BACKGROUND*/
    grid-template-rows: 150px 300px auto 50px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-areas: 
        "logo2 header2 primaryNavHeader2"
        "contentBannerSecondary contentBannerSecondary contentBannerSecondary"
        "bodyTextSecondary bodyTextSecondary bodyTextSecondary"
        "copyright2 footer2 footerLinks2";  
    justify-content: space-evenly;
    align-content: start;
} 

/*** Secondary Grid Areas. 3 columns x 5 rows (see grid-template-areas above) ***/
/* Secondary Header Grid Area */
.logo2 {
    grid-area: logo2;
    /* background-color: plum; TEST Colour */
    padding: 20px; 
    /* same padding as .header and primaryNavHeader */
}

.header2 {
    grid-area: header2;
    /* background-color: seagreen;TEST Colour */
    padding: 20px;
    /* same padding as .header and primaryNavHeader */
}

.primaryNavHeader2 {
    grid-area: primaryNavHeader2;
    /* background-color : coral;TEST Colour */
    text-align: right;
    padding: 20px;
    /* same padding as .header and primaryNavHeader */
}


/* Secondary Banner Grid Area */
.contentBannerSecondary {
    grid-area: contentBannerSecondary;
    padding: 50px;
    background-color: var(--portfolio1Bg);
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* Number Line Area */
.numberLine {
    grid-area: numberLine;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

/* Secondary Body Text Area */
.bodyTextSecondary {
    grid-area: bodyTextSecondary;
    /* background-color: purple; TEST COLOUR */
}

/* Secondary Footer Grid Areas (3) */
.copyright2 {
    grid-area: copyright2;
    background-color: var(--mainBackgroud);
    font-size: 14px;
    padding: 15px;
    padding-top: 30px;
}

.footer2 {
    grid-area: footer2;
    background-color: var(--mainBackground);
    padding: 15px;
    padding-top: 30px;
}

.footerLinks2 {
    grid-area: footerLinks2;
    background-color: var(--mainBackground);
    justify-self: end;
    padding: 15px;
    padding-top: 30px;
}
/* END SECONDARY PAGES GRID */

/* formatting primary Navigation links */
a.primaryNav:link {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNav:visited {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNav:hover {
    color: var(--logoBlue);
    text-decoration: underline;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNav:active {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

/* for ON pages */
a.primaryNavOn:link {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}
a.primaryNavOn:visited {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNavOn:hover {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}

a.primaryNavOn:active {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    letter-spacing: 3px;
    line-height: 1.5;
    word-spacing: 100px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    padding: 30px;
}


/* formatting email links */
a.email:link {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 17px;
    font-weight: noraml;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

a.email:visited {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 17px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

a.email:hover {
    color: var(--logoBlue);
    text-decoration: underline;
    font-size: 17px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

a.email:active {
    color: var(--mainFontColor);
    text-decoration: none;
    font-size: 17px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-transform: uppercase;
}


/* Content Banner Divs */
.contentBannerText {
    color: var(--mainFontColor);
    text-align: left;
    padding: 20px;
}


/* formatting regular text and links */
p {
    line-height: 1.25;
}

h1.homepage{
    color: var(--mainFontColor); 
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
}

.circleOff {
    width: 35px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 3px solid var(--logoBlue);
    font-family: Verdana;
  }

  .circleOn {
    width: 35px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 3px solid var(--logoBlue);
    font-family: Verdana;
    background-color: var(--portfolio1Bg);
  }

  hr.circleNumberLine {
    border-top: 3px solid var(--logoBlue);
    width: 40px;
  }

  .bodyTextA {
    padding: 20px;

  }

  .bodyTextB {
    background-color: var(--portfolio1Bg);
    padding: 20px;
  }

  h2.subtitle {
      font-weight: bold;
      color: var(--logoBlue);

  }

  .flexContainerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }

  .flexContainerBody {
    /* display: flex;
    justify-content: left;
    align-items: flex-start; */
    padding: 20px;
    /* background-color: coral; TEST COLOUR */
  }

  .flexContainerBodyResume {
    display: flex;
    justify-content: left;
    align-items: flex-start; 
    padding: 20px;
    /* background-color: coral; TEST COLOUR  */
  }

 div .resume {
    flex-grow:1;
    flex-wrap: wrap;
  }

  .flexContainerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
  }


  /* media queries go at end off css */
  @media only screen and (max-width: 600px) {
    body {
      /* background-color: lightblue;
      this colour is for testing only */
    }
    header {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
        padding: 20px;
        /* same padding as .header and primaryNavHeader */
    }

    .contentBannerA {
        grid-area: contentBannerA;
        flex-flow: row wrap;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .contentBannerB {
        grid-area: contentBannerB;
        flex-flow: row wrap;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .introText {
        grid-area: introText;
        display: flex;
        padding: 20px;
        color: var(--mainFontColor);
        background-color: var(--mainBackgroud);
        width: 70%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    footer {
        display: flex;
        background-color: var(--mainBackground);
        font-size: 14px;
        padding: 15px;
        justify-content: space-between;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    }





    nav<ul>
    <li><a href="#home.html">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">News</a>
      <div class="dropdown-content">
        <a href="#">Latest Updates</a>
        <a href="#">Current Lockdown Restrictions</a>
        <a href="#">Changes to City Services</a>
        <a href="#">Official Statments & Media</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Statistics</a>
      <div class="dropdown-content">
        <a href="#">Cases in Toronto</a>
        <a href="#">Epidemiological Data</a>
        <a href="#">Maps</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Business Support</a>
      <div class="dropdown-content">
        <a href="#">Recovery Initiatives</a>
        <a href="#">Economic Assistance</a>
        <a href="#">Tax Updates</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Help Initiatives</a>
      <div class="dropdown-content">
        <a href="#">Income Support</a>
        <a href="#">Mental Health Resources</a>
        <a href="#">Community Resources</a>
        <a href="#">Schools, Education & Childcare</a>
        <a href="#">Seniors and Vulnerable People</a>
        <a href="#">Volunteer and Donate</a>    
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Protection</a>
      <div class="dropdown-content">
        <a href="#">Symptoms and What to Do</a>
        <a href="#">Best Hygiene Practices</a>
        <a href="#">Do's and Dont's</a>
        <a href="#">Isolation & Quarantining</a>
        <a href="#">Travel Rules and Restrictions</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Testing</a>
      <div class="dropdown-content">
        <a href="#">COVID-19 Self-Assessment</a>
        <a href="#">Testing Centers</a>
        <a href="#">Isolation & Quarantining</a>
        <a href="#">What if I test Positive?</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Vaccines</a>
      <div class="dropdown-content">
        <a href="#">Vaccination Rollout</a>
        <a href="#">Schedule a Vaccination</a>
        <a href="#">Vaccination Centers</a>
        <a href="#">Know Your Vaccines</a>
      </div>
    </li>
  </ul>


  /* old nav CSS */
  .primaryNav {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
}
.primaryNavHover {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
}
.primaryNavOn {
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
}

nav {
    /* background-color: chartreuse; test colour */
    width: 90%;
    max-width: 1440px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}


nav version2

nav css version 2
ul {
    list-style-type: none;
    margin: 0;
    padding: 1rem 2rem;
    overflow: hidden;
    background-color: var(--mainBackground);
  }
  
  li {
    float: left;
    font-family: Lato, sans-serif; 
    font-size: 1.25rem; /* 20px */
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: var(--mainFontColor);
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
      color: var(--mainLogoBlue);
      text-decoration: none;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--mainLightText);
    color: var(--mainLogoBlue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--mainFontColor);
    padding: 1rem 2rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  li a.primaryNavOn {
    color: var(--mainLogoBlue);
    font-weight: 900;
  }

  .dropdown-content a:hover {background-color: var(--mainLightText);}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }